Header add Strict-Transport-Security "max-age=15768000"
Header edit Set-Cookie ^(.*)$ "$1;HttpOnly;Secure;SameSite=Strict"
Header set Content-Security-Policy "default-src 'self';"
Header always append X-Frame-Options DENY
Header set X-XSS-Protection "1: mode=block"

Options +FollowSymlinks -MultiViews

RewriteEngine on
RewriteBase /
RewriteRule ^$ /index.html [R,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond  %{QUERY_STRING} !^url=
RewriteRule ^([^/]+)/([^/]+)/?$ /index.php?url=$1/$2 [R,L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/|#(.*))$
RewriteRule ^(.*)$ $1/ [R=301,L]
RewriteRule ^([^\.]+)/$ $1.php


